@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
header{
    height: 100vh;
    width: 100%;
    display: flex;
}
.sec-one{
height: 100vh;
width: 50%;
background-image: url(img/header.png);
background-color: #e5a5e9;
}
.sec-two{
height: 100vh;
width: 50%;
}
.logo{
    height: 170px;
    width: 170px;
    margin-left: 30px;
}
nav{
    height: 18vh;
}
nav ul{
    display: flex;
    list-style: none;
    font-weight: bold;
    gap: 40px;
    padding: 40px;    
}
   li {
      position: relative;
      display: inline-block;
      font-size: 18px;
      cursor: pointer;
    }
 li::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0%;
      height: 2px;
      background-color: black;
      transition: width 0.6s ease;
    }

    li:hover::after {
      width: 100%;
    }
.heading{
    height: 20vh;
    width: 100%;
    text-align: center;
}
.para{
    height: 20vh;
    width: 100%;
    text-align: center;
    color: #956499;
}
.btn{
height: 20vh;
display: flex;
justify-content: center;
align-items: center;
}
.btn button{
    height: 8vh;
    width: 200px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    background-color: hsl(296, 39%, 65%);
    color: white;
}
.name{
    background: linear-gradient(to right, red, blue);
    background-clip: text;
    color: transparent;
}

    .container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }

    .card {
      flex: 0 1 calc(25% - 20px);
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      transition: transform 0.2s;
    }

    .card:hover {
      transform: scale(1.03);
    }

    .product-image {
      width: 100%;
      height: 250px; 
      margin-bottom: 10px;
      border-radius: 8px;
    }

    .product-name {
      font-size: 18px;
      margin: 10px 0 5px;
      font-weight: bold;
      text-align: center;
    }

    .product-price {
      color: #28a745;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .buy-btn {
      padding: 8px 15px;
      background-color: #e5a5e9;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .buy-btn:hover {
      background-color: #956499;
    }

    @media (max-width: 800px) {
      .card {
        flex: 0 1 calc(50% - 20px);
      }
    }

    @media (max-width: 500px) {
      .card {
        flex: 0 1 100%;
      }
    }
.head{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}