@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
header{
    height: 100vh;
    width: 100%;
    display: flex;
}
.sec-one{
height: 100vh;
width: 50%;
background-image: url(img/header.png);
background-color: #e5a5e9;
}
.sec-two{
height: 100vh;
width: 50%;
}
.logo{
    height: 170px;
    width: 170px;
    margin-left: 30px;
}
nav{
    height: 18vh;
}
nav ul{
    display: flex;
    list-style: none;
    font-weight: bold;
    gap: 40px;
    padding: 40px;    
}
.heading{
    height: 20vh;
    width: 100%;
    text-align: center;
}
.para{
    height: 20vh;
    width: 100%;
    text-align: center;
    color: #956499;
}
.btn{
height: 20vh;
display: flex;
justify-content: center;
align-items: center;
}
.btn button{
    height: 8vh;
    width: 200px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    background-color: hsl(296, 39%, 65%);
    color: white;
}
.name{
    background: linear-gradient(to right, red, blue);
    background-clip: text;
    color: transparent;
}